.dropdown-nav button {
    color: white;
}

.dropdown-nav a {
    color: white;
}

.dropdown-nav button:hover {
    color: white;
    background-color: #3664F9;
}

.dropdown-nav a:hover {
    background-color: #3664F9;
    color: white;
}

@media (min-width: 576px) {
    .dropdown-menu-nav {
        display: block;
        opacity: 0;
        transition: all 0.2s;
    }

    .dropdown-nav:hover .dropdown-menu-nav {
        display: block;
        margin-top: 0;
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .dropdown-menu-nav {
        display: block;
        opacity: 0;
        transition: all 0.2s;
        float: right !important;
        right: 0 !important;
        left: auto !important;
    }

    .dropdown-nav:hover .dropdown-menu-nav {
        display: block;
        margin-top: 0;
        opacity: 1;
        float: right !important;
        right: 0 !important;
        left: auto !important;
    }
}