@font-face {
  font-family: "Georgina";
  src: url("https://res.cloudinary.com/drholseqp/raw/upload/v1689021646/fonts/GeorginaDemo-Regular_w6eu7o.woff2");
}

@font-face {
  font-family: "Mollen-Bold";
  src: url("https://res.cloudinary.com/drholseqp/raw/upload/v1689021646/fonts/Mollen-BoldPersonalUse_vqewvk.woff2");
}

@font-face {
  font-family: "Mollen-Regular";
  src: url("https://res.cloudinary.com/drholseqp/raw/upload/v1689021646/fonts/Mollen-RegularPersonalUse_oiz3ce.woff2");
}

@font-face {
  font-family: "Qanelas-Medium";
  src: url("https://res.cloudinary.com/drholseqp/raw/upload/v1689021646/fonts/QanelasSoftDEMO-Medium_n3roxq.woff2");
}


@font-face {
  font-family: "Qanelas-Light";
  src: url("https://res.cloudinary.com/drholseqp/raw/upload/v1689021647/fonts/QanelasSoftDEMO-UltraLight_jjhvar.woff2");
}

* {
  font-family: "Mollen-Regular", Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1 {
  font-family: "Georgina", Arial, sans-serif !important;
}

h2 {
  font-family: "Qanelas-Medium", Arial, sans-serif !important;
}

h3 {
  font-family: "Mollen-Bold", Arial, sans-serif !important;
}

h4 {
  font-family: "Qanelas-Medium", Arial, sans-serif !important;
}

h5 {
  font-family: "Mollen-Regular", Arial, sans-serif !important;
}

h6 {
  font-family: "Mollen-Regular", Arial, sans-serif !important;
}

p {
  font-family: "Mollen-Regular", Arial, sans-serif !important;
}

html,
body {
  height: 100vh;
  width: 100vw;

  //Background bottom detail
  // background-image: url("../../images/elemento1.png");
  // background-size: 5%;
  // background-position: bottom;
  // background-position-y: 107%;
  // background-repeat: repeat-x;
}

main {
  width: 100%;
}

.primary-back {
  background-color: $primary;
}

.secondary-back {
  background-color: $secondary;
}

.btn-primary-back {
  background: linear-gradient($primary, $terciary, $secondary );
}

.btn-secondary-back {
  // background: linear-gradient(to bottom right, $secondary, $primary);
  // background: linear-gradient($secondary, $terciary, $primary);
  background:  $primary;
}

.primary-color {
  color: $primary;
}

.secondary-color {
  color: $secondary;
}

.degrade-dl-back {
  background: linear-gradient($primary, $terciary);
}

.degrade-ld-back {
  background: $secondary
}

.block-scroll {
  overflow-x: hidden;
  height: 100vh;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: $white;
  opacity: .75;
  height: 1px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}